<div class="main">
  <div class="jumbotron">
    <h1 class="display-4">Employee Details</h1>
  </div>
  <div class="card slot">
    <div class="card-header">
      Employee List
    </div>
    <div class="card-body" style="overflow-x:auto">
      <div>
        <label style="font-weight: bold; font-size: large;">Search:</label>&nbsp;
        <input type="text" id="txtModel" class="search" (keyup)="getEmpByName($event.target.value)"
          style="padding: 0.375rem 0.78rem;width: 500px;" placeholder="Search Employee By Name" />&nbsp;
      </div>
      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> <button type="button" class="btn btn-primary" (click)="sort('id')">Id</button></th>
            <th> <button type="button" class="btn btn-primary" (click)="sort('employee_name')">Name</button> </th>
            <th> <button type="button" class="btn btn-primary" (click)="sort('employee_salary')">Salary</button></th>
            <th> <button type="button" class="btn btn-primary" (click)="sort('employee_age')">Age</button></th>
            <th> <button type="button" class="btn btn-primary" (click)="sort()">Profile Image</button></th>
            <th> <button type="button" class="btn btn-primary" (click)="sort()">Department</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of empDetails">
            <td>{{emp.id}}</td>
            <td>{{emp.employee_name }}</td>
            <td>{{emp.employee_salary}}</td>
            <td>{{emp.employee_age}}</td>
            <td>{{emp.profile_image}}</td>
            <td> </td>
          </tr>
          <tr *ngFor="let newEmp of empList ">
            <td>{{newEmp.id}}</td>
            <td>{{newEmp.name | removespecialcharacter}}</td>
            <td> </td>
            <td>{{newEmp.age}}</td>
            <td> </td>
            <td>{{newEmp.department}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="card slot">
    <div class="card-header">
      Add Employee
    </div>
    <div class="card-body">
      <form [formGroup]="empForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label class="required">Id</label>
          <input type="text" class="form-control" formControlName="id" placeholder="Enter your id" />
          <small *ngIf="id.touched && id.hasError('required')" class="text-danger">Id is required!</small>
          <small *ngIf="id.hasError('pattern')" class="text-danger">Only Numbers allowed!</small>
        </div>
        <div class="form-group">
          <label class="required">Name</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Enter your name" />
          <small *ngIf="name.touched && name.hasError('required')" class="text-danger">Name is required!</small>
        </div>
        <div class="form-group">
          <label class="required">Age</label>
          <input type="text" class="form-control" formControlName="age" placeholder="Enter your age" />
          <small *ngIf="age.touched && age.hasError('required')" class="text-danger">Age is required!</small>
          <small *ngIf="age.hasError('pattern')" class="text-danger">Only Numbers allowed!</small>
        </div>
        <div>
          Belong to a Department: <input type="checkbox" class="checkbox" (change)="showDepartment=!showDepartment" > Yes
        </div>
        <br>
        <div class="form-group" *ngIf="showDepartment">
          <label>Department</label>
          <select class="form-control" formControlName="department" (change)="changeCity($event)">
            <option value="">--NA--</option>
            <option *ngFor="let dept of depts" [ngValue]="dept">{{dept}}</option>
          </select>
        </div>
        
        <!--<app-dynamic-form [questions]="questions$ | async"  *ngIf="showDepartment"></app-dynamic-form>-->
        <button type="submit" [disabled]="!empForm.valid" class="btn btn-success"
          style='margin-right:16px'>Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
      </form>
      
    </div>
  </div>  
</div>