input.ng-invalid.ng-dirty{border-color:red;
}

.form-control, .search, .checkbox{
    background-color: lightskyblue!important;
}

.required:before{
    content: "*";
    color:red
}

.main{
    padding: 30px 30px 30px 30px;
    margin: 0px auto;
    background-color: rgb(12, 196, 241);
    color:black;
}

.slot{
    background-color: rgb(44, 16, 231, 0.1);
    font-style: normal;
    color:black;
}

.jumbotron {
    background-color: rgb(44, 16, 231, 0.1);
    text-align: center;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bolder;
    color:black;
}
.card-header{
    font-weight: bold;
    font-size: 5mm;
}